<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#000000">
		<meta name="url" content="">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="reply-to" content="">
		<meta property="fb:app_id" content="">
		<meta property="og:type" content="article">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="">
		<meta property="og:url" content="">
		<meta property="og:image" content="">
		<meta property="og:image:width" content="1960">
		<meta property="og:image:height" content="1026">
		<meta property="og:image:alt" content="">
		<title>GetNinjas - FrontEnd Challenge</title>
		<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<%- stylesheetTag('index.css'); %>
	</head>
	<body class="is-rendering">
		<section class="Stage" data-ui-stage="GNFEC">
			<header class="Stage-header Header">
				<h1 class="Header-title">
					GetNinjas
					<small>FrontEnd Challenge</small>
				</h1>
			</header>

			<section class="Stage-form Form">
				<div class="Form-wrapper">
					<form class="Form-requests" name="requests" novalidate>
						<fieldset class="Form-fieldset">
							<legend class="Form-legend">
								Explique o que você precisa
								<small>Peça orçamento grátis, online!</small>
							</legend>
							<section class="Form-section">
								<% _embedded.request_fields.forEach((input) => { %>
								<%- include(`input-${input.type}`, input); %>
								<% }) %>
							</section>
						</fieldset>

						<fieldset class="Form-fieldset">
							<section class="Form-section">
								<% _embedded.user_fields.forEach((input) => { %>
								<%- include(`input-${input.type}`, input); %>
								<% }) %>
							</section>
						</fieldset>
					</form>
				</div>
			</section>
		</section>

		<%- javascriptTag('polyfill.js'); %>
		<%- javascriptTag('index.js'); %>
	</body>
</html>
