<label class="Form-input" data-ui-input-name="<%= name %>" data-ui-input-type="<%= type %>">
	<span class="Form-inputLabel"><%= label %><% if (required) { %>*<% } %></span>
	<input
		class="Form-inputField Form-inputField--smallText"
		name="<%= name %>"
		type="text"
		maxlength="350"
		<% if (placeholder) { %>placeholder="<%= placeholder %>"<% } %>
		<% if (required) { %>required="required"<% } %>
	/>
	<span class="Form-inputError" data-ui-input-error="<%= name %>">&nbsp;</span>
</label>
