<div class="Form-input" data-ui-input-name="<%= name %>" data-ui-input-type="<%= type %>">
	<span class="Form-inputLabel"><%= label %><% if (required) { %>*<% } %></span>
	<div class="Form-inputEnumerable">
		<select
			class="Form-inputField Form-inputField--select"
			name="<%= name %>"
			<% if (required) { %>required="required"<% } %>>
			<option value="">Selecione uma opção</option>
			<% Object.keys(values).forEach((option, index) => { %>
			<% var selected = option ? "selected" : ""; %>
			<option value="<%= option %>"><%= option %></option>
			<% }) %>
		</select>
	</div>
	<span class="Form-inputError" data-ui-input-error="<%= name %>">&nbsp;</span>
</div>
