<label class="Form-input" data-ui-input-name="<%= name %>" data-ui-input-type="<%= type %>">
	<span class="Form-inputLabel"><%= label %><% if (required) { %>*<% } %></span>
	<textarea
		class="Form-inputField Form-inputField--bigText"
		name="<%= name %>"
		minlength="3"
		<% if (placeholder) { %>placeholder="<%= placeholder %>"<% } %>
		<% if (required) { %>required="required"<% } %>></textarea>
	<span class="Form-inputError" data-ui-input-error="<%= name %>">&nbsp;</span>
</label>
